# Project exclude paths
/.gradle/
/Coffee Machine (Kotlin)/task/build/
/Coffee Machine (Kotlin)/task/out/
/Coffee Machine (Kotlin)/task/out/production/classes/
/Topics/Enum/Currency comparison/out/
/Topics/Enum/Currency comparison/out/production/classes/
/Topics/Enum/Days of the week/out/
/Topics/Enum/Days of the week/out/production/classes/
/Topics/Property accessors/Implement a class/out/
/Topics/Property accessors/Implement a class/out/production/classes/
/Topics/Property accessors/Weather comparison/out/
/Topics/Property accessors/Weather comparison/out/production/classes/